header, footer{
    background: #38b6ff;
}

.navbar-brand{
    font-size: 18px;
    font-weight: 600;
}

.nav-link, .dropdown-item{
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}

nav li{
    padding: 0 18px;
}

nav li.active, nav li.active:before{
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.carousel a:hover{
    background: rgba(255,255,255,0.5);
}
p{
    color: blue;
}
body{
    background-image: url(https://www.google.com/imgres?imgurl=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F3a%2F3b%2F7b%2F3a3b7b936e3ff87016de28ea865cbbb6.jpg&imgrefurl=https%3A%2F%2Fwww.pinterest.com%2Fpin%2F125256433359660263%2F&tbnid=5SaWw1H2YhxBDM&vet=12ahUKEwiHttXZts3pAhUn1eAKHW4cCucQMygMegUIARCCAg..i&docid=zDiQX_b9WvzxZM&w=400&h=250&q=site%20background&ved=2ahUKEwiHttXZts3pAhUn1eAKHW4cCucQMygMegUIARCCAg);
}